<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.campus.mapper.BbsPostTagMapper">

    <insert id="insertBatch">
        INSERT INTO bbs_post_tag (post_id, tag_id) VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{postId}, #{tagId})
        </foreach>
    </insert>
</mapper>
